:root {
--guests:#888;
--inactive:#888;
  
--chili:#D16868;
--turmeric:#E69A5C;
--ginger:#D1B857;
--chives:#84AF66;
--coriander:#549599;
--basil:#9A86A5;
--cinnamon:#D1A0AC;


--rgb-guests: 136,136,136;
--rgb-inactive: 136,136,136;

--rgb-chili: 209,104,104;
--rgb-turmeric: 230,154,92;
--rgb-ginger: 209,184,87;
--rgb-chives: 132,175,102;
--rgb-coriander: 84,149,153;
--rgb-basil: 154,134,165;
--rgb-cinnamon: 209,160,172;
}

attention:before { content:"\fc30"; }
.cp-warning { content:"\fe5b"!important;font-family:phosphor!important; }

#guest,
.guest,
.mg-2,
guest { --mg-color:var(--guests);--mg-rgb:var(--rgb-guests); }
#guest,
.guest,
.mg-2,
guest,
.mg-3 { --icon:"\fb87";--icon-o:"\f76f"; }

#admin,
.admin,
.mg-4,
admin { --mg-color:var(--admin);--mg-rgb:var(--rgb-admin);--icon:"\fcf3";--icon-o:"\f8dc"; }
#mod,
.mod,
.mg-5,
mod { --mg-color:var(--mod);--mg-rgb:var(--rgb-mod);--icon:"\fcf2";--icon-o:"\f8db"; }

#member,
.member,
.mg-6,
member { --mg-color:var(--member);--mg-rgb:var(--rgb-member);--icon:"\fb87";--icon-o:"\f76f"; }

#chili,
.chili,
.mg-7,
chili,
bchili { --mg-color:var(--chili);--mg-rgb:var(--rgb-chili);--icon:"\fc28";--icon-o:"\f811"; }
#turmeric,
.turmeric,
.mg-8,
turmeric,
bturmeric { --mg-color:var(--turmeric);--mg-rgb:var(--rgb-turmeric);--icon:"\fc39";--icon-o:"\f822"; }
#ginger,
.ginger,
.mg-9,
ginger,
bginger { --mg-color:var(--ginger);--mg-rgb:var(--rgb-ginger);--icon:"\fc24";--icon-o:"\f80d"; }
#chives,
.chives,
.mg-10,
chives,
bchives { --mg-color:var(--chives);--mg-rgb:var(--rgb-chives);--icon:"\fcb8";--icon-o:"\f8a0"; }
#coriander,
.coriander,
.mg-11,
coriander,
bcoriander { --mg-color:var(--coriander);--mg-rgb:var(--rgb-coriander);--icon:"\fc96";--icon-o:"\f87f"; }
#basil,
.basil,
.mg-12,
basil,
bbasil { --mg-color:var(--basil);--mg-rgb:var(--rgb-basil);--icon:"\fd58";--icon-o:"\f941"; }
#cinnamon,
.cinnamon,
.mg-21,
cinnamon,
bcinnamon { --mg-color:var(--cinnamon);--mg-rgb:var(--rgb-cinnamon);--icon:"\fd55";--icon-o:"\f93e"; }

#inactive,
.inactive,
.mg-20,
inactive { --mg-color:var(--inactive);--mg-rgb:var(--rgb-inactive);--icon:"\fb87";--icon-o:"\f76f"; }




.runon-bar div:before { content:"\f815"; }

.familial { --icon:"\fe34";--word:"familial"; }
.platonic { --icon:"\fb9e";--word:"platonic"; }
.romantic { --icon:"\fc8f";--word:"romantic"; }
.misc { --icon:"\fb11";--word:"misc"; }
.none { --icon:"\f65e";--word:"none"; }
