:root {
--guests:#888;
--inactive:#888;
  
--chili:#D16868;
--turmeric:#E69A5C;
--ginger:#D1B857;
--chives:#84AF66;
--coriander:#549599;
--basil:#9A86A5;
--cinnamon:#D1A0AC;


--rgb-guests: 136,136,136;
--rgb-inactive: 136,136,136;

--rgb-chili: 209,104,104;
--rgb-turmeric: 230,154,92;
--rgb-ginger: 209,184,87;
--rgb-chives: 132,175,102;
--rgb-coriander: 84,149,153;
--rgb-basil: 154,134,165;
--rgb-cinnamon: 209,160,172;
}

attention:before { content:"eaae"; }

#guest,
.guest,
.mg-2,
guest { --mg-color:var(--guests);--mg-rgb:var(--rgb-guests); }
#guest,
.guest,
.mg-2,
guest,
.mg-3 { --icon:"\ea01";--icon-o:"\ea04"; }

#admin,
.admin,
.mg-4,
admin { --mg-color:var(--admin);--mg-rgb:var(--rgb-admin);--icon:"\eb96";--icon-o:"\eb97"; }
#mod,
.mod,
.mg-5,
mod { --mg-color:var(--mod);--mg-rgb:var(--rgb-mod);--icon:"\eb96";--icon-o:"\eb97"; }

#member,
.member,
.mg-6,
member { --mg-color:var(--member);--mg-rgb:var(--rgb-member);--icon:"\ea01";--icon-o:"\ea04"; }

#chili,
.chili,
.mg-7,
chili,
bchili { --mg-color:var(--chili);--mg-rgb:var(--rgb-chili);--icon:"\eaa2";--icon-o:"\eaa3"; }
#turmeric,
.turmeric,
.mg-8,
turmeric,
bturmeric { --mg-color:var(--turmeric);--mg-rgb:var(--rgb-turmeric);--icon:"\ea07";--icon-o:"\ea08"; }
#ginger,
.ginger,
.mg-9,
ginger,
bginger { --mg-color:var(--ginger);--mg-rgb:var(--rgb-ginger);--icon:"\ea20";--icon-o:"\ea21"; }
#chives,
.chives,
.mg-10,
chives,
bchives { --mg-color:var(--chives);--mg-rgb:var(--rgb-chives);--icon:"\ebc3";--icon-o:"\ebc4"; }
#coriander,
.coriander,
.mg-11,
coriander,
bcoriander { --mg-color:var(--coriander);--mg-rgb:var(--rgb-coriander);--icon:"\ec26";--icon-o:"\ec27"; }
#basil,
.basil,
.mg-12,
basil,
bbasil { --mg-color:var(--basil);--mg-rgb:var(--rgb-basil);--icon:"\ec15";--icon-o:"\ec16"; }
#cinnamon,
.cinnamon,
.mg-21,
cinnamon,
bcinnamon { --mg-color:var(--cinnamon);--mg-rgb:var(--rgb-cinnamon);--icon:"\e96f";--icon-o:"\e970"; }

#inactive,
.inactive,
.mg-20,
inactive { --mg-color:var(--inactive);--mg-rgb:var(--rgb-inactive);--icon:"\eb69";--icon-o:"\eb6a"; }




.runon-bar div:before { content:"\ea68"; }

.familial { --icon:"\ecdc";--word:"familial"; }
.platonic { --icon:"\ec9b";--word:"platonic"; }
.romantic { --icon:"\eb03";--word:"romantic"; }
.misc { --icon:"\eb19";--word:"misc"; }
.none { --icon:"\e975";--word:"none"; }
