.mask-box { background:var(--bg-color);margin:30px auto;box-shadow:var(--boxing);width:calc(100% - 25px);max-width:600px; }
.mask-box h1 { padding:30px;color:var(--bg-color);background:var(--mg-color);font:60px wintersoul;line-height:50px;text-align:center;text-shadow:var(--texting);margin:0px; }
.mask-cont { padding:30px; }
.mask-cont h2 { margin:24px -30px;background:var(--mg-color);color:var(--mg-color);padding:20px 40px;text-align:center; }
.mask-cont h2 span { background:var(--bg-color);display:inline-block;font:700 13px quicksand;line-height:20px;padding:5px 10px;text-transform:uppercase; }
.mask-cont h3 { margin:0px;padding:0px;margin-top:20px;margin-bottom:10px;color:var(--mg-color);font:600 17px libre franklin;text-transform:uppercase;text-align:left; }
.mask-cont b,
.mask-cont i,
.mask-cont a,
.mask-claims a:hover,
.mask-directory a:hover { color:var(--mg-color); }
.mask-cont b { font-family:quicksand;font-size:15px;line-height:16px; }
.mask-cont p { padding:0px;margin:0px;margin-top:15px; }
.mask-cont blockquote,
attention { background:var(--bg-app);padding:20px;margin:15px 10px;box-shadow:0px 0px 5px -2px rgba(0,0,0,0.1);display:block;border:1px solid var(--red);min-height:36px; }
attention:before { content:"\ea28";font:27px honeybee;float:left;line-height:36px;margin-right:10px;color:var(--red); }
attention b { color:var(--red)!important; }


/** FACE CLAIM / DOUBLE COLUMN CLAIMS **/
.mask-claims { display:flex;flex-flow:row wrap;align-items:center;justify-content:space-between; }
.mask-claims div { flex-basis:50%;box-sizing:border-box;padding:0px 15px; }
.mask-claims div:nth-child(odd) { text-align:right;padding-left:0px; }
.mask-claims div:nth-child(even) { text-align:left;padding-right:0px; }
.mask-claims-head { margin:20px 0px; }
.mask-claims-head span { font:700 18px quicksand;color:var(--bg-color);background:var(--mg-color);text-transform:uppercase;padding:5px; }
.mask-claims-cont { display:flex;flex-direction:column;max-height:350px;overflow:auto;margin-top:10px; }
.mask-claims-cont a { display:block;font:400 12px roboto;line-height:25px;text-transform:uppercase; }


/** MEMBER DIRECTORY **/
.mask-directory { max-width:400px;width:100%;margin:40px auto;box-sizing:border-box;background:var(--bg-color);box-shadow:var(--boxing); }
.mask-directory h1 { color:var(--bg-color);background:var(--mg-color);margin:0px;padding:20px;font-size:0px;text-transform:uppercase;text-align:left; }
.mask-directory h1 font { display:inline-block;font:700 30px libre franklin;line-height:30px;margin:2px; }
.mask-directory h1 span { display:inline-block;font:700 11px quicksand;padding:3px;margin:2px;background:var(--bg-color);color:var(--mg-color); }
.mask-directory h2 { color:var(--bg-color);background:var(--mg-color);margin:-15px 30px;margin-bottom:-30px;padding:10px 20px;font:700 15px quicksand;text-transform:uppercase;text-align:left; }
.mask-directory-desc { min-height:60px;padding:15px;margin:30px;background:var(--mg-color);box-shadow:inset 0px 0px 0px 1000px var(--bg-light); }
.mask-directory-desc img { float:right;width:80px;height:80px;object-fit:cover;border:10px solid var(--bg-color);margin:-25px -25px 5px 15px; }
.mask-directory-characters { padding:0px 30px;padding-bottom:30px; }
.mask-directory-characters block { display:flex;width:100%;box-sizing:border-box;margin-top:10px;background:var(--bg-light);border:1px solid var(--bg-dark); }
.mask-directory-characters block span { flex-basis:87%;box-sizing:border-box;padding:8px;font-size:11px;line-height:12px; }
.mask-directory-characters block span a { font:700 15px quicksand;text-transform:uppercase;color:var(--mg-color); }
.mask-directory-characters block span.th { flex-basis:13%;background:var(--mg-color);color:var(--bg-color);font-size:25px;text-align:center;display:flex;align-items:center;justify-content:center; }

.mask-limits { padding:30px;padding-top:20px;--mg-color:var(--red); }
.mask-limits h2 { margin:0px;background:transparent;color:var(--red);font-size:20px;border-bottom:2px solid var(--red);margin-top:10px; }
.mask-limits .mask-directory-desc { margin:0px;background:var(--bg-light);padding:10px;box-shadow:0px 0px 0px transparent;min-height:0px; }
.mask-limits b { color:var(--red); }


/** SHIPPER REPLY **/
.mask-shipper { margin:30px auto;width:400px; }
.mask-shipper h2 { margin:0px;padding:0px;font:70px wintersoul;color:var(--bg-color);text-shadow:0px 0px 7px var(--mg-color),0px 0px 5px var(--mg-color),0px 0px 3px var(--mg-color);text-align:center;line-height:45px;position:relative;z-index:23; }
.mask-shipper h2:after { content:"";background:var(--bg-color);height:30px;width:396px;margin:2px;margin-top:-13px;display:block;position:absolute;z-index:999; }
.mask-shipper-box { box-shadow:0px 0px 5px var(--mg-color);position:relative;z-index:22;margin-top:-15px;border:2px solid var(--mg-color); }
.mask-shipper-cont { background:var(--bg-color);padding:30px;position:relative;z-index:44; }
.mask-shipper .mask-link { background:var(--mg-color);padding:10px; }
.mask-shipper .mask-link a { color:var(--bg-color)!important;font:700 14px quicksand;text-transform:uppercase; }


/** MEMBER GROUP **/
.mask-membergroup { background:var(--mg-color);padding:20px;margin-top:20px; }
.mask-membergroup-title { font:700 18px libre franklin;color:var(--mg-color);display:flex;align-items:flex-end;flex-flow:row wrap; }
.mask-membergroup-title font,
.mask-membergroup-title var,
.mask-membergroup-title hex { margin:4px;background:var(--bg-color);padding:5px;line-height:20px;border-radius:3px;text-transform:uppercase; }
.mask-membergroup-title hex,
.mask-membergroup-title var { font-size:14px;line-height:16px;text-transform:none; }
.mask-membergroup-title var { font-style:normal; }
.mask-membergroup-title hex:before { content:"#"; }
.mask-membergroup-desc { margin:4px;padding:8px 12px;background-color:var(--bg-color);border-radius:3px; }


/** THE APP(TM) **/
#skylantern { width:540px;padding:40px;box-sizing:content-box;margin:0px auto;background:#fbfbfb; }
#skylantern-2 { position:relative;clear:both;height:510px; }

#skylantern-title { color:#fbfbfb;background:var(--mg-color);text-transform:uppercase;margin:0px -40px;margin-top:-40px;margin-bottom:10px;padding:20px 40px;font-size:0px; }
#skylantern-title span { font:600 11px libre franklin;display:inline-block;margin-left:5px; }
#skylantern-title span:first-child { display:block;font:700 20px libre franklin; }

.skylantern-box { display:inline-block;font-size:0px;background:white;margin-top:490px; }
.skylantern-box [type=radio] { display:none; }
.skylantern-box label { display:inline-block;transition:0.8s;font:500 11px libre franklin;line-height:30px;text-align:center;text-transform:uppercase;width:90px;padding:0px;margin:0px;color:#777; }
#skylantern sl { display:block;position:absolute;width:70px;border-bottom:2px solid var(--mg-color);transition:0.8s;z-index:127; }

.skylantern-cont { width:540px;height:450px;overflow:hidden;margin-top:-490px; }
.skylantern-cont-0 { font-size:0px;width:3800px;transition:0.8s; }
.skylantern-cont-1,
.skylantern-cont-2,
.skylantern-cont-3,
.skylantern-cont-4,
.skylantern-cont-5,
.skylantern-cont-6 { display:inline-block;width:540px;height:450px;overflow:hidden;transition:0.8s;font:13px roboto;line-height:18px;color:#555;text-align:justify;overflow:auto;margin-right:20px;box-sizing:border-box; }

#skylantern label:hover,
#skylantern input:checked+label { color:#111; }
#skylantern #sl-1:checked+label ~ sl { margin-left:10px; }
#skylantern #sl-2:checked+label ~ sl { margin-left:100px; }
#skylantern #sl-3:checked+label ~ sl { margin-left:190px; }
#skylantern #sl-4:checked+label ~ sl { margin-left:280px; }
#skylantern #sl-5:checked+label ~ sl { margin-left:370px; }
#skylantern #sl-6:checked+label ~ sl { margin-left:460px; }

#skylantern #sl-1:checked+label ~ .skylantern-cont .skylantern-cont-0 { margin-left:0px; }
#skylantern #sl-2:checked+label ~ .skylantern-cont .skylantern-cont-0 { margin-left:-560px; }
#skylantern #sl-3:checked+label ~ .skylantern-cont .skylantern-cont-0 { margin-left:-1120px; }
#skylantern #sl-4:checked+label ~ .skylantern-cont .skylantern-cont-0 { margin-left:-1680px; }
#skylantern #sl-5:checked+label ~ .skylantern-cont .skylantern-cont-0 { margin-left:-2240px; }
#skylantern #sl-6:checked+label ~ .skylantern-cont .skylantern-cont-0 { margin-left:-2800px; }

.skylantern-cont-1 img { width:450px;height:450px;object-fit:cover; object-position:center;float:left; }
.skylantern-cont-1 .skylantern-image,
.skylantern-cont-6 .skylantern-image { height:430px;width:520px;background-size:cover;float:left;margin:10px;background-image:linear-gradient(to bottom, transparent, var(--mg-color)),var(--picture);background-blend-mode:soft-light;background-position:center; }

.skylantern-cont-2,
.skylantern-cont-3,
.skylantern-cont-4,
.skylantern-cont-5 { padding-right:20px;border:20px solid transparent; }

.skylantern-cont .sl-heading { font:600 16px libre franklin;color:var(--mg-color);line-height:27px;margin-top:12px;text-align:left; }
.skylantern-cont-3-2 .sl-heading:first-child,
.skylantern-cont-4 .sl-heading:first-child,
.skylantern-cont-5 .sl-heading:first-child,
.skylantern-cont-6-2 .sl-heading:first-child { margin-top:0px!important; }

.skylantern-cont-2-2 { height:390px;width:500px;display:flex;justify-content:space-between;align-content:space-between;align-items:center;flex-wrap:wrap; }
.skylantern-cont-2 span { float:right;font:13px roboto;line-height:18px;color:#555;text-align:right;max-width:77%; }
.skylantern-cont-2 div:nth-child(3) span,
.skylantern-cont-2 div:nth-child(17) span { max-width:69%; }
.skylantern-cont-2 div:nth-child(15) span { max-width:52%; }
.skylantern-cont-2 div { flex-basis:100%;font-size:13px!important;line-height:18px!important;margin:0px!important; }
.skylantern-cont-2 hr { width:100%;display:block;box-shadow:0px 0px 0px transparent;border:none;border-top:1px solid #eee; }

.skylantern-cont-3 { width:550px; }
.skylantern-cont-3-2 { height:400px;overflow:auto;padding-right:20px; }
.skylantern-cont-3-2 .sl-heading { display:flex;width:100%;justify-content:space-between;align-items:flex-end;border-bottom:1px solid #eee;margin-bottom:5px; }
.skylantern-cont-3-2 .sl-heading span { text-transform:uppercase;font-weight:lighter;font-size:14px;color:#888;text-align:right;max-width:68%;line-height:15px;padding-bottom:7px; }

.skylantern-cont-5-1 { background:#f2f2f2;color:#333;padding:15px 20px; }

/***
.skylantern-cont-6 { padding-top:30px;padding-left:30px; }
.skylantern-cont-6 .skylantern-image { width:200px;float:right;margin-top:-30px;margin-left:50px;height:430px; }
***/
.skylantern-cont-6 { padding-top:0px;padding-left:30px; }
.skylantern-cont-6-1 { display:flex;flex-flow:row-reverse nowrap;align-items:flex-start;height:430px;padding:0px;justify-content:space-between; }
.skylantern-cont-6 .skylantern-image { width:200px;height:430px;margin:0px; }
.skylantern-cont-6-2 { padding-top:30px;width:calc(100% - 250px); }




/** extra -- delete later **/

#skylantern #sl-1-1:checked+label ~ sl { margin-left:10px; }
#skylantern #sl-1-2:checked+label ~ sl { margin-left:100px; }
#skylantern #sl-1-3:checked+label ~ sl { margin-left:190px; }
#skylantern #sl-1-4:checked+label ~ sl { margin-left:280px; }
#skylantern #sl-1-5:checked+label ~ sl { margin-left:370px; }
#skylantern #sl-1-6:checked+label ~ sl { margin-left:460px; }

#skylantern #sl-1-1:checked+label ~ .skylantern-cont .skylantern-cont-0 { margin-left:0px; }
#skylantern #sl-1-2:checked+label ~ .skylantern-cont .skylantern-cont-0 { margin-left:-560px; }
#skylantern #sl-1-3:checked+label ~ .skylantern-cont .skylantern-cont-0 { margin-left:-1120px; }
#skylantern #sl-1-4:checked+label ~ .skylantern-cont .skylantern-cont-0 { margin-left:-1680px; }
#skylantern #sl-1-5:checked+label ~ .skylantern-cont .skylantern-cont-0 { margin-left:-2240px; }
#skylantern #sl-1-6:checked+label ~ .skylantern-cont .skylantern-cont-0 { margin-left:-2800px; }
