.mask-box { background:var(--bg-app);margin:30px auto;box-shadow:var(--boxing);width:100%;max-width:600px; }
.mask-box h1 { padding:30px;color:var(--bg-color);background:var(--mg-color);font:60px wintersoul;line-height:50px;text-align:center;text-shadow:var(--texting);margin:0px; }
.mask-cont { padding:30px; }
.mask-cont h2 { margin:24px -30px;background:var(--mg-color);color:var(--mg-color);padding:20px 40px;text-align:center; }
.mask-cont h2 span { background:var(--bg-color);display:inline-block;font:700 13px quicksand;line-height:20px;padding:5px 10px;text-transform:uppercase; }
.mask-cont h3 { margin:0px;padding:0px;margin-top:20px;margin-bottom:10px;color:var(--mg-color);font:600 17px libre franklin;text-transform:uppercase;text-align:left; }
.mask-cont b,
.mask-cont i,
.mask-cont a,
.mask-claims a:hover,
.mask-directory a:hover { color:var(--mg-color); }
.mask-cont b { font-family:quicksand;font-size:15px;line-height:16px; }
.mask-cont p { padding:0px;margin:0px;margin-top:15px; }
.mask-cont blockquote,
attention { background:var(--bg-app);padding:20px;margin:15px 10px;box-shadow:0px 0px 5px -2px rgba(0,0,0,0.1);display:block;border:1px solid var(--red);min-height:36px; }
attention:before { content:"\eaae";font:27px cappucicons;float:left;line-height:36px;margin-right:10px;color:var(--red); }
attention b { color:var(--red)!important; }


/** FACE CLAIM / DOUBLE COLUMN CLAIMS **/
.mask-claims { display:flex;flex-flow:row wrap;align-items:center;justify-content:space-between; }
.mask-claims div { flex-basis:50%;box-sizing:border-box;padding:0px 15px;text-align:center; }
/*.mask-claims div:nth-child(odd) { text-align:right;padding-left:0px; }
.mask-claims div:nth-child(even) { text-align:left;padding-right:0px; }*/
.mask-claims-head { margin:20px 0px; }
.mask-claims-head span { font:700 18px quicksand;color:var(--bg-color);background:var(--mg-color);text-transform:uppercase;padding:5px; }
.mask-claims-cont { display:flex;flex-direction:column;max-height:350px;overflow:auto;margin-top:10px; }
.mask-claims-cont a { display:block;font:400 12px roboto;line-height:25px;text-transform:uppercase; }


/** MEMBER DIRECTORY **/
.mask-directory { max-width:420px;width:100%;margin:40px auto;box-sizing:border-box;background:var(--bg-color);box-shadow:var(--boxing); }
.mask-directory h1 { color:var(--text-white);background:var(--mg-color);margin:0px;padding:20px;font-size:0px;text-transform:uppercase;text-align:left; }
.mask-directory h1 font { display:inline-block;font:700 30px libre franklin;line-height:30px;margin:2px; }
.mask-directory h1 span { display:inline-block;font:700 11px quicksand;padding:3px;margin:2px;background:var(--text-white);color:var(--mg-color); }
.mask-directory h2 { color:var(--text-white);background:var(--mg-color);margin:-15px 30px;margin-bottom:-30px;padding:10px 20px;font:700 15px quicksand;text-transform:uppercase;text-align:left; }
.mask-directory-desc { min-height:60px;padding:15px;margin:30px;background:var(--mg-color);box-shadow:inset 0px 0px 0px 1000px var(--bg-light); }
.mask-directory-desc img { float:right;width:90px;height:90px;object-fit:cover;border:10px solid var(--bg-color);margin:-25px -25px 5px 15px; }
.mask-directory-characters { padding:0px 30px;padding-bottom:30px; }
.mask-directory-characters block { display:flex;width:100%;box-sizing:border-box;margin-top:10px;background:var(--bg-light);border:1px solid var(--bg-dark); }
.mask-directory-characters block span { flex-basis:87%;box-sizing:border-box;padding:8px;font-size:11px;line-height:12px; }
.mask-directory-characters block span a { font:700 15px quicksand;text-transform:uppercase;color:var(--mg-color); }
.mask-directory-characters block span:first-child { flex-basis:13%;background:var(--mg-color);color:var(--text-white);font-size:25px;text-align:center;display:flex;align-items:center;justify-content:center; }

.mask-limits { padding:30px;padding-top:20px;--mg-color:var(--red); }
.mask-limits h2 { margin:0px;background:transparent;color:var(--red);font-size:20px;border-bottom:2px solid var(--red);margin-top:10px; }
.mask-limits .mask-directory-desc { margin:0px;background:var(--bg-light);padding:10px;box-shadow:0px 0px 0px transparent;min-height:0px; }
.mask-limits b { color:var(--red); }


/** SHIPPER REPLY **/
.mask-shipper { margin:30px auto;width:100%;max-width:400px; }
.mask-shipper h2 { margin:0px;padding:0px;font:70px wintersoul;color:var(--bg-color);text-shadow:0px 0px 7px var(--mg-color),0px 0px 5px var(--mg-color),0px 0px 3px var(--mg-color);text-align:center;line-height:45px;position:relative;z-index:23; }
.mask-shipper h2:after { content:"";background:var(--bg-color);height:30px;width:396px;margin:2px;margin-top:-13px;display:block;position:absolute;z-index:999; }
.mask-shipper-box { box-shadow:0px 0px 5px var(--mg-color);position:relative;z-index:22;margin-top:-15px;border:2px solid var(--mg-color); }
.mask-shipper-cont { background:var(--bg-color);padding:30px;position:relative;z-index:44; }
.mask-shipper .mask-link { background:var(--mg-color);padding:10px; }
.mask-shipper .mask-link a { color:var(--text-white)!important;font:700 14px quicksand;text-transform:uppercase; }


/** MEMBER GROUP **/
.mask-membergroup { background:var(--mg-color);padding:20px;margin-top:20px; }
.mask-membergroup-title { font:700 18px libre franklin;color:var(--mg-color);display:flex;align-items:flex-end;flex-flow:row wrap; }
.mask-membergroup-title font,
.mask-membergroup-title var,
.mask-membergroup-title hex { margin:4px;background:var(--bg-color);padding:5px;line-height:20px;border-radius:3px;text-transform:uppercase; }
.mask-membergroup-title hex,
.mask-membergroup-title var { font-size:14px;line-height:16px;text-transform:none; }
.mask-membergroup-title var { font-style:normal; }
.mask-membergroup-title hex:before { content:"#"; }
.mask-membergroup-desc { margin:4px;padding:8px 12px;background-color:var(--bg-color);border-radius:3px; }


/** THE APP(TM) **/
.skyapp { max-width:580px;width:100%;box-sizing:border-box;margin:30px auto;font:14px roboto;line-height:19px;background:var(--bg-app);color:var(--text); }

.skyapp-header { background:var(--mg-color);color:var(--text-white);text-align:center;padding:20px;text-align:left;font:600 14px libre franklin;text-transform:uppercase; }
.skyapp-header font { display:block;width:100%;font-size:20px; }
.skyapp-header font:after { content:"";display:block;border-top:2px solid var(--text-white);width:50px;margin:5px 0px; }

.skyapp-info { display:flex; }
.skyapp-info-fields { display:flex;flex-flow:row wrap;justify-content:space-between;align-content:space-between;padding:20px; }
.skyapp-info-fields b { color:var(--mg-color); }
.skyapp-info-fields hr { width:100%;box-shadow:none;border:none;border-top:1px solid var(--text-white); }
.skyapp-info-image { min-width:220px;background:linear-gradient(320deg,var(--mg-color) 0%,transparent 100%),var(--image) center;background-size:cover;background-blend-mode:soft-light; }
.skyapp-info-image img { width:100%;height:100%;object-fit:cover; }

@media only screen and (max-width:600px) {
.skyapp-info-image { display:none; }
}

.skyapp-divider { background:var(--mg-color);color:var(--text-white);padding:20px;font:600 18px libre franklin;text-align:center;text-transform:uppercase; }
.skyapp-sub { margin-left:20px;font:700 16px libre franklin;color:var(--mg-color);text-transform:uppercase; }

.skyapp-content { padding:0px 30px;border-top:30px solid transparent;border-bottom:30px solid transparent;overflow:auto;max-height:282px; }
.skyapp p:last-child { margin-bottom:0px; }

.skyapp-box { margin:30px;padding:20px;background:var(--bg-dark); }
.skyapp-plot { margin:20px 0px;margin-left:20px;padding:0px 20px;border-left:3px solid var(--mg-color); }
.skyapp-plot .skyapp-sub { margin:10px 0px; }

.skyapp-player { background:var(--mg-color);text-align:right;font:600 19px libre franklin;color:#eee;padding:20px 30px;text-transform:uppercase; }
.skyapp-player font { display:block; }
.skyapp-player span { display:block;font-size:13px; }
.skyapp-player cw { display:block;color:#222;font:13px roboto;line-height:19px;background:#fcfcfc;text-transform:none;text-align:justify;padding:10px;margin:0px -10px;margin-top:10px; }
.skyapp-player cw:before { content:"PLEASE WARN FOR: ";font-weight:bold;color:var(--red); }
