@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700,700i,400i');

.yuenmoon { --bg:255,255,255;--bg2:235,235,235;--acc1:var(--coriander);--acc2:var(--chili);
width:560px;padding:20px;margin:30px auto;background:rgba(var(--bg));box-shadow:inset -140px 0px 0px rgba(var(--bg2),0.6); }
.yuenmoon-box { display:flex;flex-flow:row wrap;justify-content:space-between;align-items:stretch; }

.yuenmoon-cloud { flex-basis:300px;background:linear-gradient(0deg, var(--acc1) 20%, var(--acc2) 80%); }
.yuenmoon-clouds { padding:20px;background:rgba(var(--bg));mix-blend-mode:screen; }
.yuenmoon-clouds div[class^="yuenmoon-clouds-"] { background:#000;display:flex;justify-content:space-between;border-radius:50px;height:20px; }
.yuenmoon-clouds-1 { height:120px!important;border-radius:150px 150px 0px 0px!important;margin:0px 20px; }
.yuenmoon-clouds-3 { height:120px!important;border-radius:0px 0px 150px 150px!important;margin:0px 20px; }
.yuenmoon-clouds yc { height:20px;background:rgba(var(--bg));border-radius:50px;margin:0px -1px; }
.yuenmoon-cloud:last-child { mix-blend-mode:multiply;position:relative;margin-top:-220px; }

.yuenmoon-quote { font:700 27px quicksand;line-height:30px;box-shadow:inset 250px 0px 0px rgba(var(--bg),0.7);margin-left:-150px;margin-top:-20px;margin-right:-20px;width:400px;position:relative;display:flex;align-items:center;flex-flow:row wrap;align-content:center;height:530px; }
.yuenmoon-quote font { display:block;background:linear-gradient(280deg, var(--acc1) 20%, var(--acc2) 80%);background-clip:text;-webkit-background-clip:text;color:transparent;padding:40px; }
.yuenmoon-quote font:before { content:"❝";margin-right:10px; }
.yuenmoon-quote font:after { content:"❞";margin-left:10px; }
.yuenmoon-quote span { color:#999;text-align:center;display:block;margin-top:-20px;font-size:17px;width:100%; }
.yuenmoon-quote span:before { content:"—";margin-right:5px; }

.yuenmoon-info { flex-basis:200px;height:350px;align-content:space-between;padding:20px;display:flex;flex-flow:row wrap;position:relative;margin-top:-40px; }
.yuenmoon-info span { flex-basis:100%;line-height:10px;display:flex;flex-flow:column-reverse wrap; }
.yuenmoon-info span b { display:block;font-family:quicksand;font-size:11px;text-transform:uppercase;color:var(--acc1); }
.yuenmoon-info span i { display:block;text-align:right;font-family:quicksand;font-size:14px;text-transform:uppercase;font-style:normal;margin-bottom:4px;padding-bottom:6px;border-bottom:1px solid #ddd; }

.yuenmoon-moodboard { flex-basis:300px;display:flex;justify-content:space-between;align-content:space-between;height:300px;flex-flow:row wrap;position:relative;margin-top:-150px;margin-right:10px; }
.yuenmoon-moodboard span.th { position:absolute;font-size:120px;color:white;text-shadow:1px 1px 0px var(--acc2),-1px 1px 0px var(--acc2),-1px -1px 0px var(--acc2),1px -1px 0px var(--acc2);z-index:9;margin-top:270px;margin-left:-20px;opacity:0.2;transform:rotate(10deg); }
.yuenmoon-moodboard img { position:relative;z-index:11;width:95px;height:95px;object-fit:cover;outline:1px solid #ddd; }

.yuenmoon-name { display:flex;flex-flow:row wrap;align-items:center;flex-basis:200px;font:700 20px quicksand;line-height:15px;align-content:center; }
.yuenmoon-name span { position:relative;display:block;z-index:10;margin:5px 0px;margin-left:-20px;border-radius:0px 40px 40px 0px;padding:10px 20px;text-transform:uppercase;width:240px;color:white;background:linear-gradient(40deg, var(--acc1) 20%, var(--acc2) 100%); }
.yuenmoon-name span:nth-child(2),
.yuenmoon-name span:nth-child(4) { width:210px; }
.yuenmoon-name span:nth-child(3),
.yuenmoon-name span:nth-child(6) { width:180px; }
